.About{
    background-color: #1ABC9C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 86px;
    min-height: calc(-106px + 100vh);
}

.AboutContent{
    text-align: center;
}

.AboutContentText{
    text-align: center !important;
    color: white;
    padding-top: 24px !important;
}

.AboutContentText h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 16px;
}